.lucho-vibrate-button:hover {
    animation: rotate 0.25s ease-in-out infinite;
  }
  
.lucho-vibrate-field:hover {
    animation: rotate 0.5s ease-in-out infinite;
}

    @keyframes rotate {
          25% {
            transform: rotate(1deg);
          }
          50% {
            transform: rotate(-1deg);
          }
          75% {
            transform: rotate(1deg);
          }
          100% {
            transform: rotate(-1deg);
          }
    }

.lucho-vibrate-circular-button:hover{
  animation: rotate_10deg 2s ease-in-out infinite;
}
    @keyframes rotate_10deg {
      25% {
        transform: rotate(90deg);
      }
      50% {
        transform: rotate(-90deg);
      }
      75% {
        transform: rotate(90deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

/* Efectos de NEON */

.lucho-neon-button-green{
  box-shadow: 0 0 10px rgb(43, 255, 0);
  transition: all 0.3 ease-in-out;
}

.lucho-neon-button-green:hover{
  box-shadow: 0 0 10px rgb(43, 255, 0), 0 0 20px rgb(43, 255, 0), 0 0 30px rgb(43, 255, 0);
  transform: scale(1.1);
}

.lucho-neon-button-red{
  box-shadow: 0 0 10px rgb(255, 66, 41);
  transition: all 0.3 ease-in-out;
}

.lucho-neon-button-red:hover{
  box-shadow: 0 0 10px rgb(255, 66, 41), 0 0 20px rgb(255, 66, 41), 0 0 30px rgb(255, 66, 41);
  transform: scale(1.1);
}

.lucho-neon-button-white{
  box-shadow: 0 0 10px white;
  transition: all 0.3 ease-in-out;
}

.lucho-neon-button-white:hover{
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  transform: scale(1.1);
}

.lucho-neon-button-skyblue{
  box-shadow: 0 0 10px rgb(71, 186, 231);
  transition: all 0.3 ease-in-out;
}

.lucho-neon-button-skyblue:hover{
  box-shadow: 0 0 10px rgb(71, 186, 231), 0 0 20px rgb(71, 186, 231), 0 0 30px rgb(71, 186, 231);
  transform: scale(1.1);
}

/* Efectos de particles para poner detras de ciertos elementos */
.lucho-particles-background{
  position: absolute;
  top: 0;
  z-index: -1;
}

/*Textos brillantes*/
.lucho-text-shine-white{
  text-shadow: 0 0 30px white, 0 0 20px white, 0 0 10px white;
}

.lucho-text-shine-skyblue{
  text-shadow: 0 0 30px white, 0 0 20px white, 0 0 10px white;
}

.lucho-simbol-shine-white{
  text-shadow: 0 0 10px white;
}

.lucho-simbol-shine-white:hover{
  text-shadow: 0 0 30px white, 0 0 20px white, 0 0 10px white;
}