{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="./assets/img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./assets/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" 
      referrerpolicy="no-referrer" />
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!--
    <link
      rel="stylesheet"
      href="{% static 'css/tailwind.css' %}"
    />
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

    <title>Web Server UNGS</title>
    <META http-equiv=refresh content=30>
  </head>
  <body class="text-gray-800 antialiased">
    <nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 "
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <a
            class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
            href="#ungsenergia"
            >UNGS Energia</a
          ><button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            onclick="toggleNavbar('example-collapse-navbar')"
          >
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
          id="example-collapse-navbar"
        >
          <ul class="flex flex-col lg:flex-row list-none mr-auto">
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://www.google.com"
                ><i
                  class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"
                ></i>
                Informe</a
              >
            </li>
          </ul>
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <!-- Comentamos los simbolos de twitter y facebook
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="#pablo"
                ><i
                  class="lg:text-gray-300 text-gray-500 fab fa-facebook text-lg leading-lg "
                ></i
                ><span class="lg:hidden inline-block ml-2">Share</span></a
              >
            </li>
          -->
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="/dashboard"
                ><i
                  class="lg:text-gray-300 text-gray-500 fas fa-solar-panel text-lg leading-lg "
                ></i
                ><span class="lg:hidden inline-block ml-2">Visualización de datos</span></a
              >
            </li>
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="https://github.com/luislucianozurdogmailcom/ungsenergia"
                ><i
                  class="lg:text-gray-300 text-gray-500 fab fa-github text-lg leading-lg "
                ></i
                ><span class="lg:hidden inline-block ml-2">GitHub</span></a
              >
            </li>
            <li class="flex items-center">
              <form method="get" action="/logout" >
                <button
                  class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                  type="submit"
                  style="transition: all 0.15s ease 0s;"
                >
                  <i class="fas fa-arrow-alt-circle-right"></i> Logout
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 75vh;"
      >
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d5/Campus_de_la_UNGS.jpg");'
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-75 bg-black"
          ></span>
        </div>
        <div class="container relative mx-auto" data-tilt data-tilt-max="50" >
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="p-12">
                <h1 class="text-white font-semibold text-5xl">
                  Bienvenido {{ usuario }}!
                </h1>
                <p class="mt-4 text-lg text-gray-300">
                  Este es el servidor web desde el cual podras ver datos y controlar
                  nodos pertencientes a la red de la UNGS.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-300 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </div>
      <!-- Hasta acá llega el navbar y el recibimiento a la pagina -->





      <section class="pb-20 bg-gray-300 -mt-24">
        <div class="container mx-auto px-4">

          <!-- TARJETAS ----------------------------------------->

          <div class="flex flex-wrap">
            <div class="w-full md:w-4/12 px-4 text-center" data-tilt>
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
                  >
                    <i class="fas fa-toggle-on"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Controlar Nodos</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Podemos controlar los estados de los nodos en la placa CanBus.<br>
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center" data-tilt>
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <a href="/dashboard">
                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400 hover:shadow-none hover:bg-blue-300">
                    
                      <i class="fas fa-solar-panel"></i>
                    
                    </div>
                  </a>
                  <h6 class="text-xl font-semibold">Visualizar Información</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Podemos visualizar la información proveniente de los nodos
                    con registro historico<br>
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center" data-tilt>
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
              >
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
                  >
                    <i class="fas fa-globe-africa"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Accesibilidad</h6>
                  <p class="mt-2 mb-4 text-gray-600">
                    Accesibilidad desde cualquier lugar y con un sitio web responsivo<br>
                  </p>
                </div>
              </div>
            </div>
          </div>


          <!-- IMAGEN y TEXTO ------------------------------------>
          <div class="flex flex-wrap items-center mt-10">

            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
              <div class="w-full text-center">
                <a href="/dashboard">
                  <div class="text-white p-3 text-center inline-flex items-center justify-center w-3/12 h-16 mb-6 shadow-lg rounded-full bg-blue-400 hover:shadow-none hover:bg-blue-300">
                    <i class="fas fa-solar-panel"></i>
                  </div>
                </a>
              </div>
            <h3 class="text-3xl text-center mb-2 font-semibold leading-normal">
              Visualización
            </h3>
              <p
                class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
              >
                Con el panel que estas viendo, podes observar datos reales provenientes de
                un registro historico que registra voltaje, corriente y potencia de
                paneles solares en la Universidad Nacional General Sarmiento
              </p>
              <p
                class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
              >
                Estos datos están restringidos a usuarios con sus debidos permisos
                sin embargo, en esta fase de prueba cualquier usuario tiene los permisos
                para ver los datos de todos los nodos existentes.
              </p>
              <!-- Texto en negrita facha
              <a
                href="https://www.creative-tim.com/learning-lab/tailwind-starter-kit#/presentation"
                class="font-bold text-gray-800 mt-8"
                >Check Tailwind Starter Kit!</a
              > -->
            </div>


            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto" data-tilt data-tilt-max="5">
              <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-gray-200"
              >
              <canvas class="p-4" id="graficoDeLineas" width="400" height="400"></canvas>
                
                

                <blockquote class="relative p-8 mb-4">
                  
                  <h4 class="text-xl font-bold text-black">
                    Datos sobre el voltaje
                  </h4>
                  <p class="text-md font-light mt-2 text-black">
                    En el eje x tenemos las fechas en las cuales se han tomado los datos, mientras que en el eje y tendremos los voltajes
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Segunda sección -->
      <section class="relative py-20">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>

        <!-- Aca ponemos el texto central sobre los gráficos -->
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap justify-center text-center mb-24">
              <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold">Mas gráficas sobre datos en los nodos</h2>
                <p class="text-lg leading-relaxed m-4 text-gray-600">
                  En estos gráficos podremos ver datos detallados de otras variables analógicas de nuestros datos.
                </p>
              </div>
            </div>
        </div>

        <!-- Aca ponemos la segunda fila -->
        <div class="flex flex-wrap items-center mt-10">

          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-gray-200"
            >
            <canvas class="p-4" id="graficoDeLineas_2" width="400" height="400"></canvas>

              <blockquote class="relative p-8 mb-4">
            
                <h4 class="text-xl font-bold text-black">
                  Datos sobre el voltaje
                </h4>
                <p class="text-md font-light mt-2 text-black">
                  En el eje x tenemos las fechas en las cuales se han tomado los datos, mientras que en el eje y tendremos los voltajes
                </p>
              </blockquote>
            </div>
          </div>

          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-gray-200"
            >
            <canvas class="p-4" id="graficoDeLineas_3" width="400" height="400"></canvas>

              <blockquote class="relative p-8 mb-4">

                <h4 class="text-xl font-bold text-black">
                  Datos sobre el voltaje
                </h4>
                <p class="text-md font-light mt-2 text-black">
                  En el eje x tenemos las fechas en las cuales se han tomado los datos, mientras que en el eje y tendremos los voltajes
                </p>
              </blockquote>
            </div>
          </div>

        </div>

        <!--Copiamos la segunda sección-->
      </section>
      
      <!--
      <section class="pt-20 pb-48">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold">Here are our heroes</h2>
              <p class="text-lg leading-relaxed m-4 text-gray-600">
                According to the National Oceanic and Atmospheric
                Administration, Ted, Scambos, NSIDClead scentist, puts the
                potentially record maximum.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="./assets/img/team-1-800x800.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Ryan Tompson</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Web Developer
                  </p>
                  <div class="mt-6">
                    <button
                      class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-twitter"></i></button
                    ><button
                      class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-facebook-f"></i></button
                    ><button
                      class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-dribbble"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="./assets/img/team-2-800x800.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Romina Hadid</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Marketing Specialist
                  </p>
                  <div class="mt-6">
                    <button
                      class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-google"></i></button
                    ><button
                      class="bg-blue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-facebook-f"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="./assets/img/team-3-800x800.jpg"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Alexa Smith</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    UI/UX Designer
                  </p>
                  <div class="mt-6">
                    <button
                      class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-google"></i></button
                    ><button
                      class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-twitter"></i></button
                    ><button
                      class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-instagram"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
              <div class="px-6">
                <img
                  alt="..."
                  src="./assets/img/team-4-470x470.png"
                  class="shadow-lg rounded-full max-w-full mx-auto"
                  style="max-width: 120px;"
                />
                <div class="pt-6 text-center">
                  <h5 class="text-xl font-bold">Jenna Kardi</h5>
                  <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                    Founder and CEO
                  </p>
                  <div class="mt-6">
                    <button
                      class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-dribbble"></i></button
                    ><button
                      class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-google"></i></button
                    ><button
                      class="bg-blue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-twitter"></i></button
                    ><button
                      class="bg-gray-800 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                      type="button"
                    >
                      <i class="fab fa-instagram"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      -->

      <section class="pb-20 relative block bg-gray-900">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-900 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold text-white">Variables de estado o booleanas</h2>
              <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
                En esta seccion veremos las variables de estado de los nodos
              </p>
            </div>
          </div>
          <div class="flex flex-wrap mt-12 justify-center">
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div
                class="text-green-300 p-3 w-12 h-12 shadow-lg rounded-full bg-black inline-flex items-center justify-center"
              >
                <i class="fas fa-power-off text-xl"></i>
              </div>
              <h6 class="text-xl mt-5 font-semibold text-white">
                Variable de estado 1
              </h6>
              <p class="mt-2 mb-4 text-gray-500">
                Esto indica si está en estado encendido o apagado
              </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div
                class="text-green-300 p-3 w-12 h-12 shadow-lg rounded-full bg-black inline-flex items-center justify-center"
              >
                <i class="fas fa-power-off text-xl"></i>
              </div>
              <h5 class="text-xl mt-5 font-semibold text-white">
                Variable de estado 2
              </h5>
              <p class="mt-2 mb-4 text-gray-500">
                Esto indica si está en estado encendido o apagado
              </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div
                class="text-red-600 p-3 w-12 h-12 shadow-lg rounded-full bg-black inline-flex items-center justify-center"
              >
                <i class="fas fa-power-off text-xl"></i>
              </div>
              <h5 class="text-xl mt-5 font-semibold text-white">Variable de estado 3</h5>
              <p class="mt-2 mb-4 text-gray-500">
                Esto indica si está en estado encendido o apagado
              </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div
                class="text-red-600 p-3 w-12 h-12 shadow-lg rounded-full bg-black inline-flex items-center justify-center"
              >
                <i class="fas fa-power-off text-xl"></i>
              </div>
              <h5 class="text-xl mt-5 font-semibold text-white">Variable de estado 4</h5>
              <p class="mt-2 mb-4 text-gray-500">
                Esto indica si está en estado encendido o apagado
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="relative bg-gray-300 pt-8 pb-6">
      <div
        class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px;"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-gray-300 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl font-semibold hover:text-blue-900">Proyecto de microredes</h4>
            <h5 class="text-lg mt-0 mb-2 text-gray-700">
              Encuentra las redes del proyecto
            </h5>
            <div class="mt-6">
              <button
                class="bg-white text-blue-500 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
                type="button"
              >
                <i class="flex fab fa-twitter"></i></button
              ><button
                class="bg-white text-blue-700 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
                type="button"
              >
                <i class="flex fab fa-facebook-square"></i></button
              ><button
                class="bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 p-3"
                type="button"
              >
                <i class="flex fab fa-github"></i>
              </button>
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <!--
            <div class="flex flex-wrap items-top mb-6">
              <div class="w-full lg:w-4/12 px-4 ml-auto">
                <span
                  class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >Useful Links</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://www.creative-tim.com/presentation"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://blog.creative-tim.com"
                      >Blog</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://www.github.com/creativetimofficial"
                      >Github</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://www.creative-tim.com/bootstrap-themes/free"
                      >Free Products</a
                    >
                  </li>
                </ul>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <span
                  class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >Other Resources</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md"
                      >MIT License</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://creative-tim.com/terms"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://creative-tim.com/privacy"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="https://creative-tim.com/contact-us"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            -->
          </div>
        </div>
        <hr class="my-6 border-gray-400" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-500 font-semibold py-1">
              Hecho con ♥ por 
              <a
                href="https://www.linkedin.com/in/luis-luciano-zurdo/"
                class="text-blue-700 text-xl hover:text-gray-900"
                ><i class="fa fa-linkedin-in"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </footer>
  <script src="{% static 'js/vanilla-tilt.min.js' %}"></script>
  </body>
  <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
  </script>
  <script src="{% static 'js/graficos.js' %}"></script>
  <script>
    // Asumimos que x, y, y_min, y_max, nombre y id_html tienen valores asignados
    var fecha = "{{datos.fecha}}";
    fecha     = fecha.replaceAll('&#x27;',"");
    fecha     = fecha.replace('[',"");
    fecha     = fecha.replace(']',"");
    fecha     = fecha.split(',');
    grafico_linea( fecha,
                  {{datos.valor}},{{datos.min}},{{datos.max}},'{{datos.uni}}',"graficoDeLineas");

    grafico_linea( fecha,
                  {{datos.valor}},{{datos.min}},{{datos.max}},'{{datos.uni}}',"graficoDeLineas_2");
    
    grafico_linea( fecha,
                  {{datos.valor}},{{datos.min}},{{datos.max}},'{{datos.uni}}',"graficoDeLineas_3");
    
  </script>
  
</html>
